<div class="row">
	<div class="col-md-12">
		<h2>Records</h2>
	</div>
	<div class="col-md-12">
		{{view Canary.chartView}}
	</div>
	<div class="col-md-12">
		<ul>
			{{#each}}
			<li>{{id}} - {{duration}} {{#if responseType}} - {{responseType}} {{/if}}</li>
			{{/each}}
		</ul>
	</div>
</div>