<div class="col-md-12">
	{{view Canary.ChartView}}
</div>
<div class="col-md-6">
	<h2>Records</h2>
	<ul>
		{{#each}}
		<li>{{id}} - {{duration}} {{#if responseType}} - {{responseType}} {{/if}}</li>
		{{/each}}
	</ul>
</div>
